* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: steelblue;
    height: 100vh;
}

.main-container {
    background-color:lightcoral ;
    border-radius: 1rem;
    height: 400px;
    width: 70vw;
}